# Ignore all png files in raw_data directory
raw_data/2_label/*.png
raw_data/3_label/*.png
raw_data/4_label/*.png
raw_data/13_label/*.png
raw_data/core_image/*.png

# Ignore all png files in testing_dataset dataset directory
raw_data/testing_dataset/2_label/*.png
raw_data/testing_dataset/3_label/*.png
raw_data/testing_dataset/4_label/*.png
raw_data/testing_dataset/core_image/*.png